body{
    transition: background 0.5s linear, color 0.5s linear;
}


body.dark{
    background-color: black;
    color: white;
}


.section{
    margin: 0;
    padding: 0;
}



.navbar{
    margin-bottom: 40px;
}

.card{
    margin-bottom: 20px;
}

.container2{
    position: fixed;
    top: 10px;
    right: 10px;
}

label{
    background-color: black;
    border-radius: 40%;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    transition: background 0.5s linear;
}

body.dark label{
    background-color: white;
}

input{
    visibility: hidden;
}