body{
    transition: background 0.5s linear, color 0.5s linear;
}


.section{
    margin: 0;
    padding: 0;
}



.navbar{
    margin-bottom: 40px;
    background: rgba(20, 20, 20, 0.45);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur(4px);
}

.navbar-item{
    color: rgb(224, 224, 224);
}

.card{
    margin-bottom: 20px;
    background-color: rgb(10, 7, 7);
    color: white;
}

.container2{
    position: fixed;
    top: 10px;
    right: 10px;
}


.label{
    background-color: black;
    border-radius: 40%;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    transition: background 0.5s linear;
}

.label2{
    border-radius: 40%;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    transition: background 0.5s linear;
}


/* ANIMACAO CONTATO */
.digitacao-simples {
    width: 8ch;
    animation: typing 2s steps(40), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    0% {
        border-color: transparent;
    }
}