body{
    background: linear-gradient(#000000, #434343);
}


.section{
    margin: 0;
    padding: 0;
}



.navbar{
    margin-bottom: 40px;
    background: rgba(20, 20, 20, 0.45);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur(4px);
}

.navbar-item{
    color: rgb(224, 224, 224);
}

.card{
    margin-bottom: 20px;
    background-color: rgb(10, 7, 7);
    color: white;
}

.container2{
    position: fixed;
    top: 10px;
    right: 10px;
}

label{
    background-color: black;
    border-radius: 40%;
    display: inline-block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    transition: background 0.5s linear;
}


input{
    visibility: hidden;
}


/*BARRA DE ROLAGEM */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #ff0043;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 30px;
}